$canSize: 301px;
$canPadding: 10px;
$canMargin: 10px;

.swiperContainer {
  align-self: center;

  width: ($canSize + $canPadding * 2 + $canMargin * 2) * 3;
  max-width: 100%;
  max-height: 100vh;
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  // @see https://github.com/nolimits4web/swiper/issues/3599
  min-height: 0;
  min-width: 0;

  --swiper-navigation-size: 4rem;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: var(--dark-blue);
}

.swiperSlide {
  width: fit-content;
  background: var(--light-blue);
  max-width: 200;
  margin: $canPadding;
  padding: $canMargin;
}
