.topFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.topFooter > h1 {
  font-family: 'Spicy Rice';
  font-size: 12rem;
  margin-bottom: -40px;
  z-index: 1;
}

.topFooter > p {
  font-size: 3rem;
  z-index: 1;
}

.socialMediaContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

$circle-radius: 35px;

.blueCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  width: $circle-radius * 2;
  height: $circle-radius * 2;
  border-radius: $circle-radius;
  margin: 20px;
  z-index: 1;
}

.fruityImage {
  margin-top: -200px;
}
