.bottomFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: var(--dark-blue);
  padding-top: 10rem;
}

.bottomFooter > p {
  color: white;
  font-size: 12rem;
  margin-bottom: -7rem;
}
