.bubble_img {
  width: 100%;
  object-fit: cover;

  &:hover {
    animation: blink 1s ease-in-out;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
