.navbarContainer {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 3;
  padding-top: 35px;
}

.sideNav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 150px;
}

.link {
  font-size: 2rem;
}

.link:hover {
  cursor: pointer;
}

.hartwallLogo {
  justify-self: center;
}
