.navbarContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
  z-index: 10;
}

.sideNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  width: 100%;
  margin: 0 25px;
}

.link {
  font-size: 2rem;
}

.link:hover {
  cursor: pointer;
}

.hartwallLogo {
  justify-self: center;
  margin: 0 50px;
}
