.heroContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 2px;
  margin-bottom: 30px;
}

.backgroundContainer {
  position: relative;
  height: 650px;
  width: 100%;
  display: flex;
  margin-bottom: 18px;
}

.can_image_container {
  pointer-events: none;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

.demo_button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 100;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
.bodyLemonadi {
  margin: auto;
  width: fit-content;
  font-size: 2rem;
  width: 1023px;
  padding: 40px 10px;
  text-align: center;
}

.headerGingerJoe {
  text-transform: uppercase;
  color: black;
  font-family: 'Staatliches';
  font-size: 2.5rem;
}

.bodyGingerJoe {
  margin: auto;
  width: fit-content;
  font-size: 2rem;
  width: 1023px;
  padding: 40px 10px;
  color: black;
  text-align: center;
}
