.heroContainer {
  display: flex;
  flex-direction: column;
}

.tabContainer {
  display: flex;
}

.backgroundContainer {
  height: 600px;
  width: 100%;
  display: flex;
  background-color: orange;
}
