.can_tab_container {
  height: 60px;
  width: 25%;
  background-color: black;
  flex-grow: 1;
  flex-shrink: 1;
}

.landing_can_image {
  height: 50%;
}

.can_image_wrapper {
  background-color: blue;
  width: 25%;
}
