.landing_can_large_image {
}

.landing_can_detail_container {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: space-between;

  top: 110px;
  left: 10vw;
  right: 5vw;
  gap: 5vw;
  z-index: 10;
}

.landing_can_detail_text_container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 1000px;

  .landing_can_detail_title {
    font-size: 5.2rem;
    font-family: 'Spicy Rice';
  }

  .landing_can_detail_description {
    font-size: 2.4rem;
  }
}
