.can_tab_container {
  height: 80px;
  width: 25%;
  justify-content: center;
}

.can_tab_bar {
  height: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.can_tab_img_wrapper {
  display: flex;
  justify-content: center;
}

// .landing_can_image {
//   height: 50%;
// }

// .can_image_wrapper {
//   width: 25%;
// }
